<div class="fields">
    <div class="eight wide field" *ngIf="workInputsSvc.projects">
        <label>Project</label>
        <select [(ngModel)]="workSvc.editItem.project_id" (change)="onChangeProject()">
            <option value="{{project.id}}" *ngFor="let project of workInputsSvc.projects">{{project.title}}</option>
        </select>
    </div>
    <div class="eight wide field" *ngIf="workInputsSvc.tasksByProject" (change)="onChangeTask()">
        <label>Task</label>
        <select [(ngModel)]="workSvc.editItem.task_id">
                        <option value="0"></option>
                        <option value="{{task.id}}" *ngFor="let task of workInputsSvc.tasksByProject[workSvc.editItem.project_id]">{{task.title}}</option>
                    </select>
    </div>
</div>
<div class="fields">
    <div class="ten wide field" *ngIf="workInputsSvc.tasksByProject">
        <label>Work</label>
        <select [(ngModel)]="workSvc.editItem.work_type_id">
                        <option value="{{work_type.id}}" *ngFor="let work_type of workInputsSvc.workTypesByProject[workSvc.editItem.project_id]">{{work_type.title}}</option>
                    </select>
    </div>
    <div class="three wide field">
        <label>Hours</label>
        <input type="number" [(ngModel)]="workSvc.editItem.hours">
    </div>
    <div class="three wide field">
        <label>Date</label>
        <input type="date" [(ngModel)]="workInputsSvc.spent_on_for_input">
    </div>
</div>
<div class="fields">
    <div class="sixteen wide field">
        <label>Comment</label>
        <textarea [(ngModel)]="workSvc.editItem.comment"></textarea>
    </div>
</div>